.img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25%;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.search {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}
.buttons {
    margin-top: 1em;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: rgb(241, 241, 241);
}